In [32]:
import pandas as pd
import numpy as np

In [33]:
csv=("https://raw.githubusercontent.com/anujvyas/IPL-First-Innings-Score-Prediction-Deployment/master/ipl.csv")

In [34]:
df=pd.read_csv(csv)
df.head(10)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
5,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.5,2,0,0,0,222
6,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,3,0,0.6,3,0,0,0,222
7,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,3,0,1.1,3,0,0,0,222
8,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,7,0,1.2,7,0,4,0,222
9,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,11,0,1.3,11,0,8,0,222

In [35]:
df.isna().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [36]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [37]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [38]:
teams=[
       'Royal Challengers Bangalore', 
       'Kings XI Punjab',
       'Kolkata Knight Riders', 
       'Rajasthan Royals',
       'Mumbai Indians',
       'Chennai Super Kings', 
       'Sunrisers Hyderabad',
       'Delhi Daredevils'
]

In [39]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

In [40]:
df=df[(df['bowl_team'].isin(teams)) & (df['bat_team'].isin(teams))]
df=df.drop(columns=['batsman','bowler','bowler','striker','non-striker','venue'])

In [41]:
df=df[df['overs']>5.0]

In [42]:
df.head()

,mid,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [43]:
df['date']=pd.to_datetime(df['date'])
df['date']=df['date'].dt.year

In [44]:
df

,mid,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,1,2008,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,1,2008,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,1,2008,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,1,2008,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,1,2008,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222
...,...,...,...,...,...,...,...,...,...,...
75884,616,2017,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107
75885,616,2017,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107
75886,616,2017,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107
75887,616,2017,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107
75888,616,2017,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107

In [45]:
dum_data=pd.get_dummies(df,columns=['bat_team','bowl_team'])

In [46]:
dum_data

,mid,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,1,2008,61,0,5.1,59,0,222,False,False,...,False,False,False,False,False,False,False,False,True,False
33,1,2008,61,1,5.2,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
34,1,2008,61,1,5.3,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
35,1,2008,61,1,5.4,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
36,1,2008,61,1,5.5,58,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,616,2017,106,9,18.1,29,4,107,False,False,...,False,False,False,False,False,False,True,False,False,False
75885,616,2017,107,9,18.2,29,4,107,False,False,...,False,False,False,False,False,False,True,False,False,False
75886,616,2017,107,9,18.3,28,4,107,False,False,...,False,False,False,False,False,False,True,False,False,False
75887,616,2017,107,9,18.4,24,4,107,False,False,...,False,False,False,False,False,False,True,False,False,False
75888,616,2017,107,10,18.5,23,5,107,False,False,...,False,False,False,False,False,False,True,False,False,False

In [47]:
x_train=dum_data.drop(columns='total',axis=1)[dum_data['date']<=2016]
x_test=dum_data.drop(columns='total',axis=1)[dum_data['date']>=2017]
x_train=x_train.drop(columns=['date'],axis=1)
x_test=x_test.drop(columns=['date'],axis=1)

In [48]:
y_train=dum_data[dum_data['date']<=2016]['total'].values
y_test=dum_data[dum_data['date']>=2017]['total'].values

In [49]:
x_train.head()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,1,61,0,5.1,59,0,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
33,1,61,1,5.2,59,1,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
34,1,61,1,5.3,59,1,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
35,1,61,1,5.4,59,1,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
36,1,61,1,5.5,58,1,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False

In [50]:
x_test.head()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
68894,560,46,1,5.1,42,1,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
68895,560,50,1,5.2,46,1,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
68896,560,50,1,5.3,44,1,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
68897,560,54,1,5.4,48,1,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
68898,560,58,1,5.5,51,1,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [51]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37310 entries, 32 to 68861
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   mid                                    37310 non-null  int64
 1   runs                                   37310 non-null  int64
 2   wickets                                37310 non-null  int64
 3   overs                                  37310 non-null  float64
 4   runs_last_5                            37310 non-null  int64
 5   wickets_last_5                         37310 non-null  int64
 6   bat_team_Chennai Super Kings           37310 non-null  bool
 7   bat_team_Delhi Daredevils              37310 non-null  bool
 8   bat_team_Kings XI Punjab               37310 non-null  bool
 9   bat_team_Kolkata Knight Riders         37310 non-null  bool
 10  bat_team_Mumbai Indians                37310 non-null  bool
 11  bat_team_Rajasthan Royals              37310 non-null  bool
 12  bat_team_Royal Challengers Bangalore   37310 non-null  bool
 13  bat_team_Sunrisers Hyderabad           37310 non-null  bool
 14  bowl_team_Chennai Super Kings          37310 non-null  bool
 15  bowl_team_Delhi Daredevils             37310 non-null  bool
 16  bowl_team_Kings XI Punjab              37310 non-null  bool
 17  bowl_team_Kolkata Knight Riders        37310 non-null  bool
 18  bowl_team_Mumbai Indians               37310 non-null  bool
 19  bowl_team_Rajasthan Royals             37310 non-null  bool
 20  bowl_team_Royal Challengers Bangalore  37310 non-null  bool
 21  bowl_team_Sunrisers Hyderabad          37310 non-null  bool
dtypes: bool(16), float64(1), int64(5)
memory usage: 2.6 MB

In [52]:
y_train

array([222, 222, 222, ..., 208, 208, 208], dtype=int64)

In [53]:
y_test

array([207, 207, 207, ..., 107, 107, 107], dtype=int64)

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [55]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [56]:
y_pred=lr.predict(x_test)

In [57]:
r2_score(y_test,y_pred)

0.7492664730547838

In [58]:
mean_squared_error(y_test,y_pred)

254.04437953246367

In [59]:
mean_absolute_error(y_test, y_pred)

12.146281617119111

In [60]:
import pickle

In [61]:
pickle.dump(lr,open('lr.pkl','wb'))

In [62]:
pickle.dump(y_pred,open('y_pred.pkl','wb'))